body{font-family: arial !important;}
#wrapper{display:block; top:0; left:0; width:98%; margin: 0 auto;}
#header{width:80%; margin: 0 auto; text-align: center;}
#top-heading {font-size:20px; font-weight:bold; margin: 50px 0 15px 0; text-align: center;}
#help {display: none; clear: both; overflow: auto;}
#help p{font-size:16px; margin:10px 0; padding: 0 20px;}
.ta-top-toolbar{background: #efefef; border: 1px solid #ccc; padding: 5px; text-align: right; width: 100%; overflow: auto; min-height: 50px; height: 50px;}
.ta-bottom-toolbar{background: #efefef; border: 1px solid #ccc; padding: 5px; text-align: center; width: 100%; overflow: auto; height: 50px;}
#converterContainer{margin: 10px 0 10px 0;}
#converterForm{overflow: auto;}
#loadDiv1, #loadDiv2{background: #000; position: absolute; width: 100%; height: 100%; opacity: 0.99;}

#transl2{background: #D3F0FF; font-size: 20px !important; border-radius: 4px 4px 4px 4px; border:2px solid #79A7E3; width:100%; max-width: 900px; padding:5px; height:265px; float:right; margin-left: 300px; position: relative; z-index: 2; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#savefile{border-radius: 4px 4px 0 0; background: #e6f7ff; border: 1px solid lightblue; font-family: arial; font-weight: bold; margin: 0 auto; padding: 10px; width: 400px;}
#savefile p{font-size:10px; font-weight: normal}
#text-filename{padding: 6px; border:2px solid #79A7E3; border-radius: 3px; width: 200px;}
#btnExport{background: #a00000; border-radius: 3px; color: #fff !important; margin-left: 10px; font-family: arial; font-size: 16px; font-weight: normal; padding: 5px; text-decoration: none; white-space: nowrap; line-height: 260%;}
#btnCorrect{background: #a00000; border-radius: 3px; color: #fff !important; margin-right: 10px; font-family: arial; font-size: 16px; font-weight: normal; padding: 5px; text-decoration: none; white-space: nowrap; line-height: 260%;}
#btnBookmark{background: #a00000; border-radius: 3px; color: #fff !important; margin-right: 10px; font-family: arial; font-size: 16px; font-weight: normal; padding: 5px; text-decoration: none; white-space: nowrap; line-height: 260%;}
#tool-options{margin-bottom: 10px;}
#adspace1{margin: 20px 0 0 0;}
#ad1{padding: 5px; border:2px solid #a00000; width:315px; height: 265px; margin: 0 auto;}
#adspace{margin: 10px auto; max-width:728px; height: 90px; padding: 0; border:0px solid #a00000; border-radius: 4px 4px 4px 4px;}
#adspace2{margin: 10px auto; max-width:728px; height: 90px; padding: 0; border:0px solid #a00000; border-radius: 4px 4px 4px 4px;}
#social-sharing-div{border-radius: 4px; display: table; background: #e6f7ff; border: 1px solid lightblue; font-family: arial; font-weight: bold; margin: 35px auto; padding: 10px; text-align: center; width: 400px;}
#social-sharing-div p{font-size:10px; font-weight: normal}
#description-of-page{clear: both; font-family: georgia; font-size: 20px; line-height: 140%; margin: 50px 0; text-align: justify; color: #333; overflow: auto;}
#description-of-page h2{font-size:24px; font-weight:bold; font-family: Arial Unicode MS; padding-left: 20px;}
#description-of-page p{padding: 0 20px;}
#footer{border-top: 1px solid #333; margin: 0 auto; padding: 10px 0; text-align: center; width: 100%;}

#legacyContainer, #unicodeContainer{position: relative; float: left; width:33%;}
#centerAdContainer{float: left; width:34%;}

#TextToConvert-LabelDiv, #ConvertedText-LabelDiv{background: #ccc; font-weight: bold;}
#legacy_text, #unicode_text{background: #FFD9D9; border:2px solid #FEB0B0; width:100%; padding:0 5px; height:300px;}
#TextToConvert-ButtonDiv, #ConvertedText-ButtonDiv{padding: 5px; text-align: center;}

.convertBtnDiv{background: #ccc;}

@media (max-width: 1230px) {
#drop-wrapper{display: none;}
#wrapper{width:100%; margin: 0 auto;}
#header{width:100%;}

#legacy_text{height:180px;}
#unicode_text{height:180px;}

#adspace1 {top: 0; position: relative; margin: 0 auto;}
#ad1{margin: 0 auto; padding: 0; border: 1px solid #ccc; border-radius: 0;}
#converterForm{margin: 10px auto; width: 95%}
#transl2{float: none !important; margin: 0 auto; margin: 0 auto;}
#social-sharing-div{margin: 35px auto; float: none; width: 95%; padding: 22px 2px 18px 2px;}
#savefile{margin: 10px auto; float: none; width: 95%; padding: 22px 2px 18px 2px;}
#description-of-page p{padding: 5px;}
#description-of-page h2{padding: 5px;}
#help p{padding: 5px;}
#social-lable{display: none}
#social-desc{display: none}
#transliteration-img{width: 270px;}
}

@media (max-width: 1024px) {
.btn{margin: 10px 0;}
#legacyContainer{float: none; width:100%;}
#centerAdContainer{float: none; width:100%;}
#unicodeContainer{float: none; width:100%;}
}

@media (max-width: 768px) {

}