/*******************************
        MENU STYLES
*******************************/
#top-menu-bar{background: lightblue; overflow: auto; display: table; width: 100%; height: 40px; position: absolute; top: 0; left: 0;}

#menu-navicon-container{background: #3399ff; display: table-cell; border: 0px solid #c68c01; height: 34px; padding: 0; width: 36px; cursor: pointer; z-index: 100000;}

#top-menu-bar-title{background: #3399ff; color: #fff; padding: 0 0 0 20px; font-family: arial; font-size: 20px !important; font-weight: bold; display: table-cell; vertical-align: middle;}

#top-menu-bar-share{background: red; display: none; width: 40px; vertical-align: middle; cursor: pointer;}
#top-menu-bar-report{background: red; display: none; width: 40px; vertical-align: middle; cursor: pointer;}

#share-page{background: yellow; font-family: arial; font-size: 20px !important; border-radius: 50%; color: #000; height: 30px; margin: 5px; text-align: center; width: 30px;}
#report-error{background: yellow; font-family: arial; font-size: 20px !important; border-radius: 50%; color: #000; height: 30px; margin: 5px; text-align: center; width: 30px;}

#s-menu{background: #eee; top: 0px; left:0; display: none; height: 600px; min-height: 350px; position: fixed !important; width: 240px; z-index: 10000000; font-family: arial;}

#menu-header{background: #61A6FB; color: #fff; padding: 0; margin: 0; font-weight: bold; white-space: nowrap; overflow: auto; font-size: 140%;}

#menu-header-title{float: left; display: table; padding: 5px 2px;}

#menu-box-close-btn{background: #efefef; color: #333; cursor: pointer; float: right; font-size: 90%; padding: 20px 1px; display: none;}

#menu-box-close-btn:hover{color: #000;}

#menu-navicon{background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC") repeat scroll 0 0 rgba(0, 0, 0, 0); width: 25px; height: 25px; margin: 8px 5px 5px 15px; cursor: pointer;}
#menu-navicon-div{background: #a00000; border-radius: 3px; padding: 0 5px 5px; width: 1.6em;}
.menu-navicon { position: relative; padding-left: 1.25em;}
.menu-navicon:before { content: ""; position: absolute; left: 0; top: 0.25em; width: 1.6em; height: 0.22em; background: #efefef; box-shadow: 0 0.4em 0 0 #efefef, 0 0.75em 0 0 #efefef;}
#menu-items-box{height: 500px; overflow: auto; width: 100% !important;}
#menu-items-box ul{padding: 0 5px; list-style: outside none none; margin: 0 !important;}
#menu-items-box ul li{padding: 0;}
#hide-menu-btn{font-size: 20px; padding: 5px; cursor: pointer;}

#menu-item-list li.section-heading{background: #ccc;
background: -webkit-linear-gradient(right,rgba(255,0,0,0),#ccc); /*Safari 5.1-6*/
background: -o-linear-gradient(left,rgba(255,0,0,0),#ccc); /*Opera 11.1-12*/
background: linear-gradient(to left, transparent, #ccc); /*Standard*/
border-left: 6px solid #d32f2f; border-radius: 3px; color: #000 !important; display: block !important; font-size: 16px; font-weight: normal; margin: 4px 0 0; padding: 8px;}

#menu-item-list li a{border-radius: 2px; display: block; font: 19px; margin: 0 4px 4px 0; padding: 5px; text-decoration: none; color: #000; border: 1px solid transparent; white-space: nowrap; font-size: 14px;}
#menu-item-list li a:hover{background: #f3f3f3; border: 1px solid #999; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); color: #333;}

#menu-item-list li a.float-group{width: unset; display: inline-table;}

@media only screen and (min-width:840px) and (max-width: 3000px){
}
@media only screen and (max-width: 839px) {
#top-menu-bar-title{font-size:15px;}
#content{margin-left: unset;}
}

/*******************************************************/



body{
    background: #F1FDFF;
    margin: 0;
    font-family: arial;
    font-size: 14px;
    font-size-adjust: .5
}
h1 {
    font-family: arial;
    font-size: 25px;
    color: #333;
    white-space: nowrap;
    margin: 50px auto 10px;
    text-align: center;
    clear: both
}
h1:hover {
    color: #000;
}
.b {
color: #1a0dab !important;
text-decoration: none;
}
.d{
overflow: auto;
}
.lst li{
line-height: 200%;
}

#threeColumnContainer{width: 95%; margin: 10px auto;}
#threeColumn1{float: left; width:33%;}
#threeColumn2{float: left; width:34%; text-align: center;}
#threeColumn3{float: left; width:33%;}

#techwelkinFormDiv{
max-width: 600px;
margin: 40px auto;
text-align: center;
}

#techwelkinForm1{}

.input1 {
    background: #f2c0c0;
    border-radius: 3px;
    font-size: 16px;
    height: 41px;
    line-height: 1.33;
    width: 96%;
    border: 1px solid #f44336;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    vertical-align: middle;
    color: #d32f2f;
    text-align: center;
}

#inputDesc1{font-family:arial; font-size: 120%; margin-top: 8px}

#textarea1, #textarea2 {
background: #ffd9d9 none repeat scroll 0 0;
border: 2px solid #feb0b0;
border-radius: 4px;
height: 380px;
padding: 0 5px;
width: 100%;
box-sizing: border-box;
}
#textareaDesc1, #textareaDesc2 {font-family:arial; font-size: 120%; margin-top: 8px; box-sizing: border-box;}

.submitButton1 {
    -moz-user-select: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    margin: 10px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: #f44336;
    color: #fff;
    height: 45px;
    font-size: 16px;
    border: none
}

#submitButton2 {
  background: #ff6908 none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset !important;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 8px;
  transition: background-color 300ms ease-out 0s;
  width: 250px;
  margin: 10px;
}

#social-sharing-div {
    background: #ccc;
    border-bottom: 1px solid #add8e6;
    border-top: 1px solid #add8e6;
    display: inline-flex;
    font-family: arial;
    font-weight: 700;
    margin: 0 auto 20px;
    padding: 30px;
    text-align: center
}
#resultsDiv{
max-width: 600px;
margin: 0 auto;
}

#description {
    clear: both;
    color: #222;
    font-size: 17px;
    line-height: 160%;
    margin: 0 auto 1.618em;
    max-width: 600px;
    padding: 20px;
    text-align: justify
}
#description h2 {
text-align: center;
}
#description p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

#description img {max-width:100%; height:auto;}

#global-footer {
    border-top: 1px solid #333;
	font-size: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 90%
}

@media (max-width: 1000px) {
    h1 {
        font-size: 30px
    }
    #mt-result-container {
        width: 96%
    }
    .input1 {
        border-radius: 4px
    }
	
#threeColumn1{float: none; width:100%;}
#threeColumn2{float: none; width:100%;}
#threeColumn3{float: none; width:100%;}
	
}
@media (max-width: 800px) {

}
@media (max-width: 600px) {

}
@media (max-width: 400px) {
    h1 {
        font-size: 25px;
        white-space: normal
    }
    .submitButton1 {
        border-radius: 4px;
        margin-top: 10px
    }
    .bigsectiontext {
        font-size: 1.2em
    }
}