.questionCard {
  //width: 105.8mm;
  width: 80mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
  min-height: 26.45mm;
}

.questionStatement {
  margin-bottom: 5.29mm;
  //white-space: pre-wrap;
}

.questionImage {
  width: 79.35mm;
  horizontal-align: middle;
  margin-bottom: 5.29mm;
}

.floatingDiv {
  display: "none";
  float: right;
}

.customCard {
  margin: auto;
  width: 211.6mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
}
