#createCategoryButtons {
  margin-bottom: 2.645mm;
}

#valueSpace > * {
  margin-right: 1.3225mm;
}

textarea {
  vertical-align: middle;
  margin: 0mm;
}

.selectDiv, #selectImageDiv, #uploadImageDiv {
  margin-bottom: 5.29mm;
}

/*.multiLanguage, #instruction {*/
#question {
  margin: 0mm;
  //width: 92.575mm;
  border-style: solid;
  border-width: 0.2645mm;
  min-height: 31.74mm;
  border-color: rgb(169,169,169);
  display: inline-block;
  vertical-align: middle;
}

#question {
  margin-bottom: 7.935mm;
}

.selectDiv {
  margin-top: 2.645mm;
}

#createSubjectAndTopic, #createLevel, .selectDiv > div {
  display: inline;
}

