.drop_menu {
	background:#a00000;
	padding:0;
	margin:0;
	list-style-type:none;
	height:35px;
}
.drop_menu li { float:left; z-index: 97443987;}
.drop_menu li a {
	padding:9px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
	font:14px helvetica,arial, verdana, sans-serif;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background:#680000; }
.drop_menu li:hover ul {
	left:0px;
	top:30px;
	background:#680000;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#680000;
}
.drop_menu li:hover ul li a:hover { background:#a00000; }

#drop-wrapper{
background-color:#680000;
}
#drop-logo{
	color: #fff;
    float: left;
    font-family: arial;
    font-weight: bold;
    height: 35px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    width: 150px;
}
#drop-logo a{
	color: #fff;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
}
.drop{
}