body {
  background-color: LightGrey;
  padding: 0mm;
}

.container {
  background-color: White;
  width: 264.5mm;
  height: 100%;
  //margin: auto;
  margin: 10mm 0mm 0mm 25mm;
  padding : 10mm 2.645mm 2.645mm 2.645mm;
  //box-shadow:0 0mm 2.645mm 0.529mm rgba(0,0,0,0.5)
}

.mainHeading {
  background-color: rgb(0, 176, 0);
  color: white;
  //width: 264.5mm;
  width: 100%;
  //margin: 0mm 0mm -5.29mm -2.645mm;
  margin: 0mm 0mm 0mm 0mm;
  padding-top: 0mm;
  padding-bottom: 0mm;
}

#headline {
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight: 105.8mm;
  font-size: 9.522mm;
}

.headSectionRight {
  text-align: right;
  margin: 1.587mm 2.645mm 1.058mm 1.3225mm;
}

.headButton {
  //border: 0mm;
  background: transparent;
  color: white;
  font-size: 6.6125mm;
  width: 26.45mm;
  //height: 19.8375mm;
  margin: 1.3225mm 1.058mm 1.058mm 1.3225mm;
  //border-color: #ffffff #ffffff #ffffff #ffffff;
  border-color: LightGrey;
  border-radius: 1.3225mm;
}

#topicList {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 176, 0);
  //width: 264.5mm;
  width: 100%;
  margin: 0mm;
  //margin-left: -2.645mm;
}

#mainTopic, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1.3225mm 1.3225mm;
  font-size: 4.761mm;
}

#mainTopic:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 186, 0);
}

#mainTopic.dropdown {
  width: 16.666666667%;
  display: inline-block;
}

.dropdown-content {
  margin-left: -1.3225mm;
  margin-top: 1.3225mm;
  display: none;
  position: absolute;
  background-color: rgb(0, 196, 0);
  //width: 43.907mm;
  //width: 100%;
  width: 16.666666667%;
  font-size: 3.9675mm;
}

.dropdown-content a {
  color: white;
  padding: 1.3225mm 1.3225mm;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(0, 216, 0);
}

/*.questionCard {
  //width: 105.8mm;
  width: 80mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
  min-height: 26.45mm;
}*/

.questionStatement {
  margin-bottom: 5.29mm;
  //white-space: pre-wrap;
}

.questionImage {
  width: 79.35mm;
  horizontal-align: middle;
  margin-bottom: 5.29mm;
}

.floatingDiv {
  display: "none";
  float: right;
}

.floatingToolButton {
  border: 0mm;
  background: transparent;
  display: block;
  text-align: left;
  width: 100%;
  font-color: white;
}

.floatingToolButton:hover {
  background: rgba(0,0,0,0.2);
}

.paperCard {
  width: 105.8mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
}

/*.orCard {
  //width: 105.8mm;
  width: 80mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
  min-height: 26.45mm;
}

.sectionCard {
  //width: 105.8mm;
  width: 80mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
  min-height: 26.45mm;
}*/

.testCard {
  width: 105.8mm;
  margin-top: 6.6125mm;
  padding: 3.9675mm;
  box-shadow:0 1.058mm 2.116mm 0 rgba(0,0,0,0.2),0 1.587mm 5.29mm 0 rgba(0,0,0,0.19);
}

.multiLanguage {
  white-space: pre-wrap;
}

@media print {
  avoidPageBreak {page-break-inside: avoid;}
  insertPageBreakAfter {page-break-after: always;}
  .rightFloat { float: right; }
  ind {
    display: inline-block;
    margin-left: 5.29mm;
  }
}

#toHoldClicksTill {
  background-color: rgba(1, 1, 1, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

ind {
  display: inline-block;
  margin-left: 5.819mm;
}

.indent {
  display: inline-block;
  margin-left: 5.29mm;
  //padding: 5.29mm;
}

#bar {
  background-color: lightgrey;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 1000000;
}

#progress {
  //background-color: rgb(0,176,0);
  background-color: red;
  width: 40%;
  height: 2px;
}
