#question.editbox td:empty {
  border: 0.2645mm dashed black;
}

#question.editbox td {
  border: 0.2645mm solid lightgrey;
}

#question.editbox {
  white-space: pre-wrap;
  padding: 10px;
  width: 132.25mm;
}

.editbox {
  white-space: pre-wrap;
}

.editbox td:empty {
  border: 0.2645mm dashed black;
}

.editbox td {
  border: 0.2645mm solid lightgrey;
}
