@media (max-width:158.7mm){.harshal-modal-content{margin:0 2.645mm;width:auto!important}.harshal-modal{padding-top:7.935mm}}
@media (max-width:203.136mm){.harshal-modal-content{width:132.25mm}.harshal-modal{padding-top:13.225mm}}
@media (min-width:262.6485mm){.harshal-modal-content{width:238.05mm}}

.modal {
  z-index:3;
  display:none;
  padding-top:5.29mm;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}

.content {
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:0;
  outline:0;
  width:264.5mm;
}

.login-modal {
  z-index:4;
  display:none;
  padding-top:26.45mm;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}

.login-modal-content {
  margin:auto;
  background-color:#fff;
  width: 132.25mm;
  height: 79.35mm;
  padding-top: 10.58mm;
  //position:relative;
  //padding:0;
  //outline:0;
  //width:264.5mm;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 7.406mm;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
