.prettybox {
  white-space: pre-wrap;
  font-size: 4.232mm !important;
}

.prettybox sup, .prettybox sub {
  font-size: 2.50mm !important;
}

/*.prettybox * {
  font-size: 4.232mm !important;
}*/

.prettybox > ol, .prettybox > ul , .prettybox > div > ol , .prettybox > div > ul , .questionStatement > ol, .questionStatement > ul {
  margin-top: 0mm;
  padding-left: 6mm;
  margin-bottom: 0mm;
}

.prettybox ol, .prettybox ul {
  margin-top: 0mm;
  margin-bottom: 0mm;
}

.prettybox .matchTheCol td {
  min-width: 7.935mm;
  border-style: none;
}

.prettybox .matchTheCol tr {
  vertical-align: top;
  height: 6.6125mm;
}

.prettybox .optionContainer, .prettybox .subQuestionContainer , .prettybox .optionHolder {
  width: 100%;
}

.prettybox .optionHolder {
  table-layout: fixed;
}

.prettybox .optionContainer tr, .prettybox .subQuestionContainer tr , .prettybox .optionHolder tr {
  vertical-align: top;
  height: 6.6125mm;
}

.prettybox .optionContainer td {
  width: 25%;
}

.prettybox .optionIndex {
  width: 7%;
}

.prettybox .option {
  display: inline-block;
  width: 25%;
  min-height: 6.6125mm;
  vertical-align: top;
}
