.prettybox > ol, .prettybox > ul , .prettybox > div > ol , .prettybox > div > ul {
  margin-top: 0mm;
  padding-left: 1em;
  margin-bottom: 0mm;
}

.prettybox ol, .prettybox ul {
  margin-top: 0mm;
  margin-bottom: 0mm;
}

.prettybox .matchTheCol td {
  min-width: 7.935mm;
  border-style: none;
}

.prettybox .matchTheCol tr {
  vertical-align: top;
}

.prettybox .optionContainer, .prettybox .subQuestionContainer , .prettybox .optionHolder {
  width: 100%;
}

.prettybox .optionHolder {
  table-layout: fixed;
}

.prettybox .optionContainer tr, .prettybox .subQuestionContainer tr , .prettybox .optionHolder tr {
  vertical-align: top;
}

.prettybox .optionContainer td {
  width: 25%;
}

.prettybox .option {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.webfont {
  letter-spacing: 0mm;
  word-spacing: 0mm;
}
