.prettybox, .prettybox * {
  white-space: pre-wrap;
  //font-size: 4.5mm !important;
}

.prettybox sup, .prettybox sub {
  font-size: 2.8mm !important;
}

#paperHeading sup, #paperHeading sub {
  font-size: 4mm !important;
}

.prettybox * {
  //font-size: 4.5mm;
}

.prettybox > ol, .prettybox > ul , .prettybox > div > ol , .prettybox > div > ul {
  margin-top: 0mm;
  padding-left: 1em;
  margin-bottom: 0mm;
}

.prettybox ol, .prettybox ul {
  margin-top: 0mm;
  margin-bottom: 0mm;
}

.prettybox .matchTheCol td {
  min-width: 7.935mm;
  border-style: none;
}

.prettybox .matchTheCol tr {
  vertical-align: top;
}

.prettybox .optionContainer, .prettybox .subQuestionContainer , .prettybox .optionHolder {
  width: 100%;
}

.prettybox .optionHolder {
  table-layout: fixed;
}

.prettybox .optionContainer tr, .prettybox .subQuestionContainer tr , .prettybox .optionHolder tr {
  vertical-align: top;
}

.prettybox .optionContainer td {
  width: 25%;
}

.optionContainer td, .subQuestionContainer td, .optionHolder td, .matchTheCol td {
  font-size: 4.5mm;
}

.prettybox .optionIndex {
  width: 5%;
}

.prettybox .option {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.webfont {
  letter-spacing: 0mm;
  word-spacing: 0mm;
}
