#toolbar {
  margin: 1.3225mm 0mm 1.3225mm 0mm;
}

#toolbar button {
  margin: 0mm 1mm 0mm 0mm;
}

#toolbar img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0mm 1mm -2mm 0mm;
  border: 1px solid black;
  background-color:white;
}

.toolbar-dropdown-content {
  //margin-left: -1.3225mm;
  //margin-top: 1.3225mm;
  display: none;
  position: absolute;
  //background-color: rgb(0, 196, 0);
  //width: 43.907mm;
  font-size: 2.9675mm;
}

.toolbar-dropdown-content button {
  display: block;
  text-align: center;
  width: 30px;
  margin-left: -1.3225mm;
}

#toolbar ul {
  list-style-type: none;
  overflow: hidden;
  margin-left: -2.645mm;
}

#toolbar li {
  display: inline-block;
}

