#paperLevelDataList {
  position: absolute;
  z-index: 10;
  background-color: rgba(255,255,255,1);
}

.suggestionItem:focus, .suggestionItem:hover {
  background-color: rgb(248,248,248);
  border: none;
}

#paperLevel[contentEditable=true]:empty:before {
  content: attr(placeholder);
  color: rgb(175,175,175);
  display: block;
}

#paperLevel {
  text-align: center;
  border: none;
  width: 100%;
  padding: 0mm;
  outline-width: 0;
  margin: 0mm;
}

#paperLevelDataList {
  text-align: center;
  width: 209mm;
  //width: 100%;
  padding: 0mm;
  outline-width: 0;
  margin: 0mm;
}
