<table style="margin-bottom: 30mm; width: 210mm;" align="center">

  <tr>
    <td align="left">
    <label id="languageLabel">Language:</label>
    <select id="language">
      <option value="english">English</option>
      <option value="hindi">Hindi</option>
    </select>
    </td>

    <td align="right">
      To Type in Hindi press ctrl + g
    </td>

  </tr>

  <tr>
    <td align="center" colspan="2"><div autofocus contentEditable="true" id="paperName" type="text" placeholder="Paper Name" class="bottomBorder multiLanguage"></div></td>
  </tr>

  <tr>
    <td align="left"><label id="timeLabel">Time:</label><div contentEditable="true" id="time" class="bottomBorder multiLanguage"/></td>
    <td align="right" style="vertical-align: top"><label id="totalMarksLabel">Total Marks:</label><div id="totalMarks" style="display: inline-block">0</div></td>
  </tr>

  <tr>
    <td align="center" colspan="2">
      <div id="instructionHeading">Instructions</div>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <ol id="selectedInstructionList"></ol>
    </td>
  </tr>

  <tr>
    <td colspan="2" align="left">
      <input id="instruction" class="longInput multiLanguage" type="text" list="simpleInstructionList" placeholder="Type Instruction here ...."/>
      <datalist id="simpleInstructionList"></datalist>
      <button type="button" onclick="submitInstruction()">Submit</button>
    </td>
  </tr>

  <tr>
    <td align="center" colspan="2">
      <div id="questionHeading">Questions</div>
    </td>
  </tr>

  <tr>

    <td align="left" colspan="2">
      <div id="searchStrDiv" style="display: inline-block">
        <input id="searchStr" type="text" placeholder="Search" class="multiLanguage"/>
      </div>
      <button type="button" onclick="refreshQuestionList()" >&#128269;</button><br />

      <a id="filter" href="#">Show Filter</a>

      <table class="selectDiv" style="display: none; background-color: lightgrey;">
        <tr>
          <td><label id="selectSubjectDiv">Subject: </label></td>
          <td><select class="middleElement" id="subject" onchange="populateTopicList()"></select></td>
        </tr>
        <tr>
          <td><label id="selectTopicDiv">Topic: </label></td>
          <td><select class="middleElement" id="topic" name="topic" ></select></td>
        </tr>
        <tr>
          <td><label id="selectLevelDiv">Level: </label></td>
          <td><select class="middleElement" id="level" name="level" ></select></td>
        </tr>
        <!-- button type="button" onclick="populateAllCategoryLists()">Refresh</button -->
      </table>
    </td>

  </tr>

  <tr id="searchQuestionListRow">

    <td valign="top" width="50%" colspan="2">
      <ol id="questionListDiv" style="padding-left: 0mm"></ol>
      <div id="noResultsFound" style="display: none; margin-left: 5mm;"><i>No results Found</i></div>
    </td>

  </tr>

  <tr>
    <td align="left">
      <div style="margin-left: 5mm;">
        <a id="prevListLink" href="#" style="display: none;" onclick="previousQuestionList();">Prev</a>
        <a id="nextListLink" href="#" style="display: none;" onclick="getQuestionList();">Next</a>
      </div>
    </td>
    <td align="right">
      <div style="margin-right: 5mm;">
        <a id="hideLink" href="#" style="display: none;" onclick="hideSearchResult();">Hide</a>
      </div>
    </td>
  </tr>

  <tr id="selectedQuestionListRow">

    <td valign="top" width="50%" colspan="2">
      <ol id="selectedQuestionListDiv" style="padding-left: 0mm"></ol>
    </td>

  </tr>

  <tr>
    <td style="vertical-align: top" align="left" colspan="2"><button id="typeOrSwitch" type="button" onclick="openSubmitQuestion();">Type New Question</button></td>
  </tr>

</table>
