#livesearch {
  position: absolute;
  z-index: 10;
  background-color: rgba(255,255,255,1);
}
.suggestionSelectItem:focus, .suggestionSelectItem:hover {
  //background-color: rgb(248,248,248);
  background-color: lightgrey;
  border: none;
}
#okay[contentEditable=true]:empty:before {
  content: attr(placeholder);
  color: rgb(175,175,175);
  display: block;
}
#okay, #livesearch {
  text-align: left;
  //border: none;
  border:1px solid #A5ACB2;
  padding: 0mm;
  outline-width: 0;
  margin: 0mm;
}
#okay {
  padding-left: 4px;
  padding-right: 4px;
}
.suggestionSelectItem {
  padding: 1mm;
}
